<div class="menu">
    <img src="graphics/filter.png" />
    <h1>Filter</h1>
    <hr>
    <h2>Primary Selector</h2>
    <div class="primary-selectors"></div>
    <hr>
    <h2>Secondary Selector</h2>
    <div class="secondary-selectors"></div>    
</div>