@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?7h1kx0');
  src:  url('icomoon.eot?7h1kx0#iefix') format('embedded-opentype'),
    url('icomoon.ttf?7h1kx0') format('truetype'),
    url('icomoon.woff?7h1kx0') format('woff'),
    url('icomoon.svg?7h1kx0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
