

.node {
    circle {
        stroke: $light-blue;
        stroke-width: 2px;
 
    }

    $colors: #6E868D #56717A #3E5D67 #264954 #0E3541;

    @each $color in $colors {
         $i: index($colors, $color);
        .node-color-#{$i} {
            fill: $color;
        }
    }



   

    div {
        display: table;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    p {
        font-size: 8px;
        color: $raw-white;
        text-shadow: 1px 1px 4px #0E3541;   
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        
    }
}

