
:host {
    position: relative;
    height: 0;
    width: 0;
}

.overlay { 
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100000;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-content: center;

}

.loader {
        $border-width: 10px;
        border: $border-width solid transparent; /* Light grey */
        border-top: $border-width solid #ececec; /* Blue */
        border-bottom: $border-width solid #ececec; /* Blue */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
    
        animation: spin 1.5s ease-in-out infinite;
        z-index: 10000000;
    }


@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}