@import '~app/styles/_index.scss';



:host {
      position: absolute;
      width: 100%;

}

.ui-message-bar {
    position: absolute;
    $gutter: 10px;
    top: $gutter;
    left: $gutter;
    right: $gutter;
    
    border-radius: 4px;
    border: 1px solid $orange; 
   
    display: flex;
    
    padding: 20px;
    
    span {
        padding-left: 10px;
    }
    
}

.error {
    background-color: $error-red;
    @include icon(before, warning);
}

.warning {
    background-color: $warning-yellow;
    @include icon(before, notification);
  

}

.info {
    background-color: $info-blue;
    @include icon(before, info);
}