

p, label, h1, h2 {
    font-family: 'Sansumi-Regular'
}

body, html {
    height: 100%;
    flex-direction: column;
     min-height: 100vh;
}

label {
    font-size: 12px;
}

h1 { 
    font-size: 18px;
}

h2 {
    font-size: 16px;
}


.content {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex: 1;
}



