@font-face {
  font-family: 'Sansumi-Regular';
  src: url('Sansumi-Regular.eot');
  src: url('Sansumi-Regular.woff2') format('woff2'),
       url('Sansumi-Regular.woff') format('woff'),
       url('Sansumi-Regular.ttf') format('truetype'),
       url('Sansumi-Regular.svg#Sansumi-Regular') format('svg'),
       url('Sansumi-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

