  @import '~app/styles/_index.scss';


:host {
    position: relative;
    width: 100%;
    background-color: white;
    flex-basis: 100%;
    flex-grow: 1;
    &.fullscreen {
        position: fixed;
        width: 100%;
        height:100%;
        top: 0; 
        left: 0;
    }


    button {
        @include round-button();
        position: absolute;
        $gutter: 20px;
        top: $gutter;
        &.fullscreen {
            @include icon(before, enlarge);
        }

        &.exit {
            @include icon(before, cross);
        }

        &.back {
            @include icon(before, arrow-left);
             left: $gutter;
        }

        &.exit, &.fullscreen {
             right: $gutter;
            
        }
    }
}

.util-bar-wrapper {
    position: relative;
    width: 100%;
    height: 0;
}

.util-bar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding: 20px;

}

:host /deep/ .node {
    cursor: pointer;
    overflow: hidden;
    &:hover {
        circle {
            stroke: darken($light-blue, 50%);
        }
    }

    circle {
        stroke: $light-blue;
        stroke-width: 2px;
    }

    $colors: #6E868D #56717A #3E5D67 #264954 #0E3541;

    @each $color in $colors {
         $i: index($colors, $color);
         &:hover {
             .node-color-#{$i} {
                fill: darken($color, 20%);
            }
         }
         .node-color-#{$i} {
            fill: $color;
        }

    }

    div {
        display: table;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    
    p {
        font-size: 8px;
        color: $raw-white;
        text-shadow: 1px 1px 4px #0E3541;   
        display:table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
