

.node {
    circle {
      //  fill: rgb(31, 119, 180);
      //  fill-opacity: .25;
        stroke: rgb(31, 119, 180);
        stroke-width: 1px;
     //   animation: jitter 2s linear 0s infinite alternate;
    }


    text {
        font-size: 8px;
    }

        div {
            display: table;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        p {
            font-size: 8px;
            display:table-cell;
            text-align: center;
            vertical-align: middle;
           
        }
  }