
.top-bar {
    background-color: $uber-black;
    height: 80px;
    color: $raw-white;
    display: flex; 
    align-items: center;
    justify-content: space-between; 


    .logo {
        display: flex;
        padding-left: 48px;

        p {
            padding-left: 16px;
            margin: 0;
        }
    }

    .button {
        border: 1px solid $raw-white;
        border-radius: 3px;
        color: $raw-white;
        margin-left: auto;
        margin-right: 48px;
        padding: 10px;
        display: block;
         text-decoration: none;
    }
}

