<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SF Movie Locations Visualization</title>
</head>
<body>
    {{> top-bar }}
     <div class="content">
        {{> menu }}
        {{> visualizer }}
    </div>
  </div>
</body>
</html>