<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SF Movie Locations Visualization</title>
</head>
<body>
    
    	{{> top-bar }}
        
     <div class="content">
        {{> menu }}
        <div class="visualizer"></div>
    </div>
  </div>
</body>
</html>